if count <= 0
    div Sorry, no results yet.
else
    div Results: #{count}
    hr
    each pool in pools
        div.pool
            div.name= pool.name
            div.kpis-container
                div.kpi(class=interval(pool.status.ok_percent, 0, 100))    OK: #{pool.status.ok} (#{pool.status.ok_percent}%)
                div.kpi(class=interval(pool.status.ko_percent, 100, 0))    KO: #{pool.status.ko} (#{pool.status.ko_percent}%)
                div.kpi(class=interval(pool.status.skipped_percent, 100, 0))    Skipped: #{pool.status.skipped} (#{pool.status.skipped_percent}%)
                div.kpi(class=interval(pool.status.unknown_percent, 100, 0))    Unknown: #{pool.status.unknown} (#{pool.status.unknown_percent}%)
            if pool.tags && pool.tags.length > 0
                div    Tags
                each tag in pool.tags
                    div.tags-container
                        div.tag-label= tag.tag
                        each value in tag.values
                            div.tag= value
            hr
