.container
    h1 Result details
    a.btn.btn-default(href="/") << Home
    br
    br
    div#result-details
        div
            strong= name
            dl.dl-horizontal
                each value, key in tags
                    dt= key
                    dd= value
            br
            br
        div
            strong Status: #{status}
        each exception in exceptions
            div= exception.class
            div.exception-message.click-to-expand= exception.message
        #metadata No metadata yet...
        #screenshots No screenshots yet...
