if count <= 0
    div Sorry, no results yet.
else
    div Results: #{count}
    each pool in pools
        div.pool
            div.name
                each name, index in pool.identifierHierarchy
                    if index > 0
                        &nbsp;::&nbsp;
                    span.add-filter.hierarchy(data-filter={type: 'name', level: index, value: name})= name
            div.kpis-container
                div.kpi Total: #{pool.status._count}
                div.kpi(class=statusInterval(pool.status.ok_percent, 'ok'))    OK: #{pool.status.ok} (#{pool.status.ok_percent}%)
                div.kpi.reversed(class=statusInterval(pool.status.ko_percent, 'ko'))    KO: #{pool.status.ko} (#{pool.status.ko_percent}%)
                div.kpi.reversed(class=statusInterval(pool.status.skipped_percent, 'skipped'))    Skipped: #{pool.status.skipped} (#{pool.status.skipped_percent}%)
                div.kpi.reversed(class=statusInterval(pool.status.unknown_percent, 'unknown'))    Unknown: #{pool.status.unknown} (#{pool.status.unknown_percent}%)
            if pool.tags && pool.tags.length > 0
                div    Tags (click on name to add a group by condition, clik on value to add a filter)
                each tag in pool.tags
                    div.tags-container
                        div.tag-label.add-group-by(data-by={pool: pool.name, tag: tag.tag})= tag.tag
                        each value in tag.values
                            div.tag.add-filter(
                                data-filter={type: 'tag', tag: tag.tag, value: value.value, pool: pool.name}
                                class=statusInterval(value.ok_percent, 'ok')
                            )= value.value
            if pool.exceptions && Object.keys(pool.exceptions).length > 0
                each exception in pool.exceptions
                    div.exception
                        div <strong>#{exception.list.length} exception(s) like this</strong>: #{exception.class}
                        div.exception-message.click-to-expand= exception.message
                        div
                            span details: 
                            each result, index in exception.results
                                a.details(href='#/results/'+result.historyId target='blank')= index+1
